body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.nav_links {
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    list-style: none;
    margin-top: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.nav_links li {
    margin: 0 10px;
    display: inline-block;
}
.nav_links li:hover {
    text-decoration: underline;
}
.nav_links a.active {
    text-decoration: underline;
}


.author
{
    background-color: transparent;
    height: 300px;
}
.author .name
{
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
}
.author .details
{
    margin-top: -30px;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    color: gray;
    text-align: center;
}
.author_photo
{
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid gray;
    width: 100px;  /* 或你希望的任何尺寸 */
    object-fit: cover; /* 确保图片不会被拉伸或压缩 */
}



